In [1]:
import numpy as np
import pandas as pd

In [2]:
ilkIndexler=["Simpson","Simpson","Simpson","South Park","South Park","South Park"]
icIndexler=["Mehmet","Ali","Ömer","Manas","Sayit","Caner"]
birlesmisIndexler=list(zip(ilkIndexler,icIndexler))

In [4]:
birlesmisIndexler=pd.MultiIndex.from_tuples(birlesmisIndexler)

In [5]:
birlesmisIndexler

MultiIndex([(   'Simpson', 'Mehmet'),
            (   'Simpson',    'Ali'),
            (   'Simpson',   'Ömer'),
            ('South Park',  'Manas'),
            ('South Park',  'Sayit'),
            ('South Park',  'Caner')],
           )

In [8]:
benimListem=[[40,"A"],[30,"B"],[20,"D"],[10,"C"],[11,"E"],[23,"S"]]

In [9]:
npMyList=np.array(benimListem)

In [12]:
veriler=pd.DataFrame(npMyList,index=birlesmisIndexler,columns=["Yaş","Meslek"])

In [13]:
veriler

                  Yaş Meslek
Simpson    Mehmet  40      A
           Ali     30      B
           Ömer    20      D
South Park Manas   10      C
           Sayit   11      E
           Caner   23      S

In [14]:
veriler.loc["Simpson"]

       Yaş Meslek
Mehmet  40      A
Ali     30      B
Ömer    20      D

In [15]:
veriler.loc["Simpson"].loc["Ali"]

Yaş       30
Meslek     B
Name: Ali, dtype: object

In [17]:
veriler.loc["Simpson","Ali"]

Yaş       30
Meslek     B
Name: (Simpson, Ali), dtype: object

In [21]:
veriler.index.names=["Soyadı","Adı"]

In [22]:
veriler

                  Yaş Meslek
Soyadı     Adı
Simpson    Mehmet  40      A
           Ali     30      B
           Ömer    20      D
South Park Manas   10      C
           Sayit   11      E
           Caner   23      S